{% block content %}
<h2>Configuración de Duración de Entrevistas</h2>

<form action="/config/duracion" method="post">
  <h3>Corta</h3>
  Minutos: <input type="number" name="corta_minutos" value="{{ config.corta.minutos }}"><br>
  Preguntas: <input type="number" name="corta_preguntas" value="{{ config.corta.preguntas }}"><br>
  Técnicas: <input type="number" name="corta_tecnicas" value="{{ config.corta.tecnicas }}"><br>
  Blandas: <input type="number" name="corta_blandas" value="{{ config.corta.blandas }}"><br>
  Codificación: <input type="number" name="corta_codigo" value="{{ config.corta.codigo }}"><br>

  <h3>Mediana</h3>
  Minutos: <input type="number" name="mediana_minutos" value="{{ config.mediana.minutos }}"><br>
  Preguntas: <input type="number" name="mediana_preguntas" value="{{ config.mediana.preguntas }}"><br>
  Técnicas: <input type="number" name="mediana_tecnicas" value="{{ config.mediana.tecnicas }}"><br>
  Blandas: <input type="number" name="mediana_blandas" value="{{ config.mediana.blandas }}"><br>
  Codificación: <input type="number" name="mediana_codigo" value="{{ config.mediana.codigo }}"><br>

  <h3>Larga</h3>
  Minutos: <input type="number" name="larga_minutos" value="{{ config.larga.minutos }}"><br>
  Preguntas: <input type="number" name="larga_preguntas" value="{{ config.larga.preguntas }}"><br>
  Técnicas: <input type="number" name="larga_tecnicas" value="{{ config.larga.tecnicas }}"><br>
  Blandas: <input type="number" name="larga_blandas" value="{{ config.larga.blandas }}"><br>
  Codificación: <input type="number" name="larga_codigo" value="{{ config.larga.codigo }}"><br>

  <button type="submit">Guardar Cambios</button>
</form>
{% endblock %}
