<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio | Simulador de Entrevistas</title>
</head>

<body>
    <div class="top-bar">
        {% if user %}
        <div><strong>Usuario:</strong> {{ user.email }}</div>
        <a href="/logout">Cerrar sesión</a>
        
        {% if user.rol == 'admin' %}
        <h1>Bienvenido al Simulador de Entrevistas</h1>
        <a href="/config/admin">Panel de Administración</a>
        <a href="/adaptabilidad/probar">Probar Creación de Habilidad</a>
        <a href="/adaptabilidad/escoger">Escoger Habilidades/Subtemáticas</a>
        <a href="/adaptabilidad/codigo">Probar identificación lenguajes compatibles</a>
        {% else %}
        <h1>Bienvenido al Simulador de Entrevistas</h1>
        <a href="/cv/create">Llenar formulario de CV</a>
        <a href="/cv/index">Mi CV</a>
        <a href="/entrevista/nueva">Nueva Entrevista</a>
        {% endif %}

        {% else %}
        <a href="/auth/login">Iniciar sesión</a>
        <a href="/auth/register">Registrarse</a>
        {% endif %}
    </div>

    

</body>

</html>
