{% block content %}
<h2>Historial de Entrevistas</h2>

<table border="1">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Preguntas</th>
            <th>Cod.</th>
            <th>Téc.</th>
            <th>Bland.</th>
            <th>Prom. LLM</th>
            <th>Prom. Audio</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        {% for e in entrevistas %}
        <tr>
            <td>{{ e.fecha }}</td>
            <td>{{ e.estado }}</td>
            <td>{{ e.total }}</td>
            <td>{{ e.codigo }}</td>
            <td>{{ e.tecnica }}</td>
            <td>{{ e.blanda }}</td>
            <td>{{ e.promedio_llm }}</td>
            <td>{{ e.promedio_audio }}</td>
            <td><a href="/resultados/{{ e._id }}">Ver</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
